<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="SpecOverflow.URL" value="http://specoverflow-demo.azurewebsites.net" />
    <add key="StackClone.URL" value="https://htmlspademo.stamplayapp.com" />
    <add key="Orbit.URL" value="http://orbit-demo.azurewebsites.net" />
    <add key="Orbit.URL.LOCAL" value="http://localhost:8533" />
    <add key="SpecOverflow.URL.LOCAL" value="http://localhost:23828" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
</configuration>