<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SpecOverflow.URL" value="http://localhost:23828"/>
    <add key="StackClone.URL" value="https://htmlspademo.stamplayapp.com"/>
    <add key="Orbit.URL" value="http://localhost:8533"/>
  </appSettings>
</configuration>